# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/
*.swp
*.swo
*~

# Dependencies
node_modules/

# Environment
.env
.env.local

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
.vercel
